*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    color: #111;
    min-height: 200vh;
}

button{
    margin:0.75rem;
    padding: 0.25rem;
    cursor:pointer;
}

/* modal */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    overflow: auto;
    display: none ;
    justify-content: center;
    align-items: flex-start;
   
}

.modal.modal-show{
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.modal.modal-hide{
    animation: fadeOut 0.2s ease-in-out 0.2s forwards;
}

@keyframes fadeOut{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

.modal-content{
    position: relative;
    background-color: #fff;
    width: 60%;
    max-height: 75%;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    overflow: auto;
}

.modal.modal-show .modal-content{
    animation: fadeInDown 0.3s ease-in-out forwards;
}

@keyframes fadeInDown{
    0%{
        opacity:0;
        transform: translateY(-3rem);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}


.modal.modal-hide .modal-content{
    animation: fadeOutUp 0.2s ease-in-out forwards;
}

@keyframes fadeOutUp{
    0%{
        opacity:1;
        transform: translateY(3);
    }
    100%{
        opacity:0;
        transform: translateY(-3rem);
    }
}

.modal-content h1{
    text-align: center;
    margin-bottom: 2rem;
}
.modal-content p{
    margin: 1rem 0;
    line-height: 1.5rem;
}

.modal-close{
    position:absolute;
    top:0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    color:rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
}

.modal-close:hover, .modal-close:focus{
    color:rgba(0,0,0,0.5);
}

@media(max-width:992px){
    html{font-size: 14px;}
    .modal-content{width:80%;}
}

@media(max-width:767px){
    html{font-size: 12px;}
    .modal-content{padding:2rem 1rem 1rem 1rem;}
    .modal-content h1{margin-bottom:1.5rem;}
}