/* --공통 */

html {
    /*  smooth-wrap처리를 하면 div를 기준으로 처리가 되기때문에 html상의 스크롤 ui는 숨김처리 해준다. */
    overflow: auto;

    /* 이건 링크를 타고 날아갈시 부드럽게 전환되도록 해주는 효과이다. 자세한건 코딩저니 영상 참조 */
    --scroll-behavior: smooth;
}

/* 폰트 */
h2 {
    font-family: 'Gowun Batang', serif;
}

/* 공통-- */

/* --app시작-- */
#app {
    width: 1920px;
    height: 1080px;
    background-image: url("../images/appBackground.png");
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}

.app-text {
    height: 100%;
    width: 40%;
    padding-left: 100px;
    padding-top: 200px;
}
.app-text>h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    margin-bottom: 100px;
    white-space: nowrap;
}

.app-text>h2::after {
    content: "";
    display: block;
    width: 350px;
    border-bottom: 5px solid #FFD869;
}

.app-text>ul>li {
    background-image: url("../images/listPaw.png");
    background-repeat: no-repeat;
    padding-left: 35px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.app-img {
    height: 100%;
    width: 60%;
    --text-align: center;
    margin-top: 200px;
    
    
}

.app-img div{
    display: inline-block;
}

/* --app끝 */